{% extends 'submission/base.html.twig' %}

{% block title purge ? 'title.purge_submission'|trans : 'title.delete_submission'|trans %}

{% block body %}
  {% from 'submission/_macros.html.twig' import submission %}

  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ submission(submission) }}

  {{ form_start(form) }}
    {{ form_row(form.reason) }}

    {% if purge %}
      {% embed '_layouts/alert.html.twig' with { type: 'warn' } %}
        {% block alert_paragraph 'flash.purge_submission_warning'|trans %}
      {% endembed %}
    {% endif %}

    <div class="form__button-row">
      <button class="button">{{ purge ? 'action.purge'|trans : 'action.delete'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
